/* Optional: Style to indicate the newsfeed is hidden */
[role="feed"] {
    display: none !important;
  }
  
  body::after {
    background-image:"family.jpg";
    content: "wawaweewow";
    display: block;
    text-align: center;
    font-size: 20px;
    color: #888;
    margin-top: 20px;
  }